<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="false"
          name="Test1">
        <parameter name="browser" value="Sagar"></parameter>
        <parameter name="para" value="Sagarpara"></parameter>

        <packages>
            
            <package name="prac"></package>
<!--            <package name="sele4"></package>-->

        </packages>
        <!--<classes>
            <class name="prac.WaiTest">

            </class>
        </classes>-->
    </test>
</suite>