<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="false"
          name="Test1">
        <classes>
            <class name="sele4.Sele4NewTab">

            </class>
        </classes>
    </test>
</suite>